<div class="inner cover">
  <h1 class="cover-heading">Hello Internet</h1>
  <p class="lead">I'm a dedicated technologist who loves many aspects of the IT field. I enjoy creating content, presenting it on a web app,
    testing it, securing it, administering the servers, and managing companies' equipement.
  </p>
    <div class="btn-group" role="group">
      <a class="btn btn-lg btn-outline-secondary">See my</a>
      <a routerLink="/myResume"  class="btn btn-lg btn-secondary">Resume</a>
      <a class="btn btn-lg btn-outline-secondary">or</a>
      <a routerLink="/portfolio" class="btn btn-lg btn-secondary">Portfolio</a>
    </div>
</div>

<div class="mastfoot">
  <div class="inner text-center">
    <p>Email me: paulsemail47@gmail.com</p>
  </div>
</div>
