<br>
<br>
<br>
<br>
<br>
<div class="card bg-inverse">
  <br>
  <div class="container">
    <h3>Foreword</h3>
    <p>
      Below is a left-to-right-tree of the technologies that I am familiar with or
      have used over my career starting in 2013. It should be quite evident that
      I am a fullstack web developer and have absolutely no experience in systems
      programming.
    </p>
    <br>
    <h4>Next technologies, and extra musings</h4>
    <p>
      However, I hope to one day fix my lack of experience in that sector and
      hopefully build some interesting software in Rust(lang).
      Back in the web, I'm very interested in learning Elm(lang). I've been
      hearing great things about statically typed functional programming
      languages (like Rust) and would really like to learn more about them when
      things calm down in other sectors of my life. I can't stay stuck in
      imperitive programming forever now can I. Eventually I think that
      functional languages like Elm and Rust who routinely tout "NO RUNTIME
      ERRORS" will eventually prove irresistable to businesses and individuals
      alike. From my perspective I see the introduction of TypeScript and Type
      Hints in Python to be an indicator that businesses are erring on the side
      of safety and steady progress. As opposed to the explosive growth providable
      by dynamic languages such as Python and non-type-safe javascript.
    </p>
    <p>
      I started out in Python and I still love Python but the above realization
      has led me to work in type safe enviroments like C# and TypeScript. I hope
      to make the full transition over to a type-safe-functional language for my
      own projects soon. Unfortunately, the day of widespread employability for
      developers of type-safe-functional languages is still a far ways off.
      Hence, C#, TypeScript, and Angular2+.
    </p>
  </div>
</div>

<ul class="list-group">
  <li class="list-group-item bg-inverse">Front End
    <ul class="list-group">
      <li class="list-group-item bg-inverse">TypeScript
        <ul class="list-group">
          <li class="list-group-item bg-inverse">Angular2+</li>
          <li class="list-group-item bg-inverse">Vue.js</li>
        </ul>
      </li>
      <li class="list-group-item bg-inverse">JavaScript
        <ul class="list-group">
          <li class="list-group-item bg-inverse">Riot.js</li>
          <li class="list-group-item bg-inverse">KendoUI</li>
          <li class="list-group-item bg-inverse">jQuery</li>
        </ul>
      </li>
    </ul>
  </li>
  <li class="list-group-item bg-inverse">Back End
    <ul class="list-group">
      <li class="list-group-item bg-inverse">C#
        <ul class="list-group">
          <li class="list-group-item bg-inverse">ASP.NET</li>
          <li class="list-group-item bg-inverse">MVC 5</li>
          <li class="list-group-item bg-inverse">Entity Framework</li>
        </ul>
      </li>
      <li class="list-group-item bg-inverse">Python
        <ul class="list-group">
          <li class="list-group-item bg-inverse">Flask</li>
          <li class="list-group-item bg-inverse">Django</li>
          <li class="list-group-item bg-inverse">Wagtail</li>
        </ul>
      </li>
      <li class="list-group-item bg-inverse">Node.js
        <ul class="list-group">
          <li class="list-group-item bg-inverse">Express.js</li>
        </ul>
      </li>
      <li class="list-group-item bg-inverse">PHP
        <ul class="list-group">
          <li class="list-group-item bg-inverse">WordPress - Plugins</li>
        </ul>
      </li>
      <li class="list-group-item bg-inverse">Databases
        <ul class="list-group">
          <li class="list-group-item bg-inverse">Microsoft SQL Server</li>
          <li class="list-group-item bg-inverse">MongoDB</li>
          <li class="list-group-item bg-inverse">MySQL</li>
        </ul>
      </li>
    </ul>
  </li>
</ul>
<div class="mastfoot">
  <div class="inner text-center">
    <p>Email me: paulsemail47@gmail.com</p>
  </div>
</div>
